html{
	  background-color: rgba(17, 30, 108, 0.3);} 

body{
	border: 1px solid black;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 70px;
	margin-left: 70px;
	background-color: #f3ffff; }

/*https://www.computerhope.com/cgi-bin/htmlcolor.pl?c=ADD8E6 Color source*/
.intro{
	color:white;
	margin-top: 100px;
	padding: 10px;
	font-weight:300}
	
.first{
	color:black;}
	
.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}	
/*https://css-tricks.com/dont-overthink-flexbox-grids/*/

h1,h2, h3, h4, h5, h6 {
font-family: Oswald, Verdana, Arial, san-serif;
padding: 5px;}

h1{ 
font-weight: 700;
margin: 5px;
padding: 20px 0px 0px 0px;
text-transform: uppercase;
line-height:1em;
font-size: 2.25em;}

h2{
font-weight:500;
  font-size: 1.3em;
  line-height: .2em;
  text-align: center;}

h3{ 
font-weight: 500;
margin: 0px;
font-size: 1em;
line-height:.2em;
}

h4{
font-weight:300;
  font-size: .667em;
  line-height: .2em;
  }

 h5{
font-weight:300;
  font-size: .444em;
  line-height: .2em;
  }
  
 
 h6{
font-weight:300;
  font-size: .296em;
  line-height: .2em;  }
   
   
p{
	font-weight:300;
	line-height:1.10em;
	font-size: 1em;
	font-family: Quattrocento,Georgia,"Times New Roman",serif;
	padding: 0px 10px 0px 10px;}
	
	
.sentence{
color:red;}

div.header {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;}
 

  
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  max-width: 220px;
  min-height: 190px;
 }

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);}

/*https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption */

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
       transform: scale(1.3);
    height:auto;
    display:block;
    z-index:999;
} 

main{
}
/*https://www.ostraining.com/blog/webdesign/card-layout-using-flexbox/  table or flexbox?*/


* {
  box-sizing: border-box;
}		
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.3%;
  padding: 10px;
  margin-top: 8px;
  min-height: 1000px;
  border: 1px solid black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 230px;
    margin: auto;
}



/*https://www.tutorialrepublic.com/faq/how-to-transform-image-size-on-mouse-hover-without-affecting-the-layout-in-css.php */

figcaption {
    background-color: #222;
    color: #fff;
    font-family: oswald;
    padding: 3px;
    text-align: center;
	font-size:1.15em;
	font-weight:400;
}

footer {
  position: relative;
  bottom: 0;
  background-color:black;
  color:white;
  clear: both;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.center{
text-align:center;}


